
<section id="login-page" class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          
          <form 
            class="form-signin"
            @submit.stop.prevent="handleSubmit"
          >
          <div class="form-label-group">
            <input 
              class="form-control" 
              id="email"
              v-model="email"
              type="email"
              autofocus="true"
              name="email"
              placeholder="Enter your email"
              required
            >
            <label for="email">Email address</label>
          </div>

          <div class="form-label-group">
            <input 
              id="password"
              name="password"
              v-model="password"
              label="password"
              type="password"
              class="form-control"
              autofocus="true"
              required
              placeholder="Password"
            >
            <label for="password">Password</label>
          </div>

            <div class="custom-control custom-checkbox mb-3">
              <input 
                type="checkbox" 
                class="custom-control-input" 
                id="customCheck1"
              >
              <label 
                class="custom-control-label" 
                for="customCheck1"
              >
                Remember password
              </label>
            </div>

            <p class="text-center mt-3">
              No account yet ?
              <router-link :to="{ name: 'register'}" tag="a">
                Register
              </router-link>
            </p>

            <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            <button 
              :disabled="loading" 
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Sign in
            </button>

            <hr class="my-4">
            <!-- <button 
              class="btn btn-lg btn-google btn-block text-uppercase" 
              type="submit"
            ><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
