<card>
  <template slot="header">
    <h4 v-if="$slots.title || title" class="card-title">
      <slot name="title">
        {{title}}
      </slot>
    </h4>
    <p class="card-category">
      <slot name="subTitle">
        {{subTitle}}
      </slot>
    </p>
  </template>

  
  <div>
    <div :id="chartId" class="ct-chart"></div>
    <div class="footer">
      <div class="chart-legend">
        <slot name="legend"></slot>
      </div>
      <hr>
      <div class="stats">
        <slot name="footer"></slot>
      </div>
      <div class="pull-right">
      </div>
    </div>
  </div>
</card>