<div class="card">
  <!-- image slot -->
  <div class="card-image" v-if="$slots.image">
    <slot name="image"></slot>
  </div>

  <!-- title zone -->
  <div class="card-header" v-if="$slots.header || title">
    <slot name="header">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-category" v-if="subTitle">{{subTitle}}</p>
    </slot>
  </div>

  <!-- content -->
  <div class="card-body" v-if="$slots.default">
    <slot></slot>
  </div>
  <slot name="raw-content"></slot>
  
  
  <!-- footer -->
  <div class="card-footer" v-if="$slots.footer">
    <hr>
    <slot name="footer"></slot>
  </div>
</div>

