<template>
  <section class="container">
    <div class="col-md-6 offset-md-3 mt-3">
      <form autocomplete="off" @submit.stop.prevent="handleSubmit">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            id="username"
            v-model="username"
            type="username"
            autofocus="true"
            placeholder="Enter your username"
            required/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            v-model="email"
            type="email"
            autofocus="true"
            placeholder="Enter your email"
            required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            v-model="password"
            label="password"
            type="password"
            class="form-control"
            autofocus="true"
            placeholder="Enter your password"
            required/>
        </div>
        <button :disabled="loading" type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
        <p class="text-center mt-3">
          Already have an account?
          <router-link :to="{ name: 'signin'}" tag="a">
            Login
          </router-link>
        </p>
      </form>
    </div>
  </section>
</template>

<script>


export default {
  data() {
    return {
      email: '',
      password: '',
      username: '',
      loading: false
    }
  },
  methods: {
    async handleSubmit() {
        console.log(this.username);
      try {
        this.loading = true
        // const response = await axios.post(`${apiUrl}/auth/local/register`, {
        //     username: this.username,
        //     email: this.email,
        //     password: this.password
        // });

        this.$store.dispatch('auth/register', {
           username: this.username,
            email: this.email,
            password: this.password
        }).then(() => {
          console.log('Well done!',  this.$store.getters['auth/username']);
          this.$router.push('/')
        })
       
        this.loading = false
      } 
      
      catch (err) {
        this.loading = false
        console.error(err);
      }
    },
  }
}
</script>