<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <router-link tag="a" class="navbar-brand" to="/" exact>Deliveroo clone</router-link>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div 
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
        >
        <ul class="navbar-nav">
          <li v-if="username">
            <a href="#" class="nav-link">
              Hello {{ username }}
            </a>
          </li>
          <li v-if="username">
            <a 
                href="#" 
                class="nav-link" 
                @click="logout"
            >
              Logout
            </a>
          </li>
          <li v-if="!username">
            <router-link v-if="!username" tag="a" class="nav-link" to="/login" exact>
              login
            </router-link>
          </li>
          <li v-if="!username">
            <router-link 
                v-if="!username" 
                tag="a" 
                class="nav-link" 
                to="/register" 
                exact
            >
              register
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>