<div class="sidebar">
  <div 
    class="sidebar-wrapper" 
    id="style-3"
  >
    <div class="logo">
      <a href="#" class="simple-text">
        <div class="logo-img">
          <img src="@assets/logo.png" alt="">
        </div>
        {{title}}
      </a>
    </div>

    <slot></slot>


    <ul class="nav">
      <slot name="links">
        <sidebar-link 
          v-for="(link,index) in sidebarLinks"
          :key="index"
          :to="link.path"
          :name="link.name"
          :icon="link.icon">
        </sidebar-link>
      </slot>
    </ul>


    <moving-arrow :move-y="arrowMovePx"></moving-arrow>
  </div>
</div>