<nav :is="tag"
  class="dropdown"
  :class="{show:isOpen}"
  @click="toggleDropDown"
  v-click-outside="closeDropDown"
>
  <a class="dropdown-toggle btn-rotate"
      :class="titleClasses"
      data-toggle="dropdown">
    <slot name="title">
      <i :class="icon"></i>
      <span class="notification">{{title}}
        <b class="caret"></b>
      </span>
    </slot>
  </a>
  <ul class="dropdown-menu" :class="{show:isOpen}">
    <slot></slot>
  </ul>
</nav>